@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: antiquewhite;
  background-image: url(assets/img/jupiter.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
@font-face {
  font-family: 'nebula-regular';
  src: url(assets/fonts/Nebula-Regular.otf);
}
@font-face {
  font-family: 'nebula-hollow';
  src: url(assets/fonts/Nebula-Hollow.otf);
}
.astroFontRegular{
  font-family: nebula-regular, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.astroFontHollow{
  font-family: nebula-hollow, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  opacity: 0.9;
}