@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: antiquewhite;
}
.astroFont{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}